<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/style.css" media="screen" title="no title" charset="utf-8">
    <link href="./images/favicon2.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title>Book Buddies v1.0</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="container">
        <a class="navbar-brand" href="./"><img src="./images/favicon2.png" width="50px" height="auto"></a>
        <a class="navbar-brand" href="./">Book Buddies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link buy-nav" href="./buy">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sell-nav" href="./sell">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./users">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-md-0">
                <li class="nav-item">
                    <a id="my-ads-button" class="nav-link d-none myAds-nav" href="./myAds">My Ads</a>
                </li>
                <li class="nav-item">
                    <a id="log-out-button" class="nav-link d-none" href="#">Log Out</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<body>

    {{{body}}}

    <footer class="footer fixed-bottom">
        <div class="container">
            <span>&copy; Book Buddies 2018</span>
        </div>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyDLSFxBJqWeoiQ3v1dLPzE4xdeLVV8SWa4",
            authDomain: "book-buddies-215701.firebaseapp.com",
            databaseURL: "https://book-buddies-215701.firebaseio.com",
            projectId: "book-buddies-215701",
            storageBucket: "book-buddies-215701.appspot.com",
            messagingSenderId: "93267305761"
        };

        firebase.initializeApp(config);
    </script>
    <script src="./js/auth.js"></script>

</body>

</html>