<main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Book Buddies</h1>
            <p class="lead text-muted">An online marketplace for textbooks.</p>
            <p>
              <a href="./sell.html" class="btn btn-primary my-2">Sell</a>
              <a href="./search.html" class="btn btn-info my-2">Buy</a>
            </p>
          </div>
        </section>

    </main>
  

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="./assets/javascript/js.js"></script>