<main role="main">

  <section class="jumbotron text-center">
    <div class="container jumbo-container">
      <div class="row">
        <div class="col-md-8 jumbo-text">
          <h1 class="jumbotron-heading">Book Buddies</h1>
          <h3 class="lead">An online marketplace for textbooks.</h3>
          <p>University students spend $800 on textbooks every year. How much of these textbooks do you actually keep
            and use after the semester?</p>
          <p>Book buddies is here to help you sell your unused textbooks and make it useful for other students.</p>
          <p>
            <a href="./sell" class="btn btn-primary my-2">Start Selling</a>
            <a href="./buy" class="btn btn-info my-2">Browse Listings</a>
          </p>
        </div>

        <div class="col-md-4 login-section">
          <div>
            <form class="form-signin">
              <div class="text-center mb-4">
                <img class="mb-4" src="./images/favicon2.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Book Buddies</h1>
                <p>Welcome, book buddy!</p>
              </div>

              <div class="form-label-group">
                <label for="inputEmail" class="left-text">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autocomplete="email"
                  required autofocus>
              </div>

              <div class="form-label-group">
                <label for="inputPassword" class="left-text">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password"
                  required>
              </div>

              <div class="form-label-group">
                <p id="loginErrorMessage" class="text-danger"></p>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>

              <button id="log-in-button" class="btn btn-lg btn-primary" type="submit">Log in</button>

              <button id="sign-up-modal-button" class="btn btn-lg btn-primary">New User?</button>
            </form>
          </div>
        </div>


        <div class="col-md-4 personal-section d-none">
          <div>
            <div>
              <div class="text-center mb-4">
                <img class="mb-4" src="./images/favicon2.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Book Buddies</h1>
                <p>Welcome, book buddy!</p>
                <a id="my-ads-button" class="nav-link" href="./buy">My Settings</a>
                <a id="my-ads-button" class="nav-link" href="./myAds">My Ads</a>
                <a id="my-ads-button" class="nav-link" href="./buy">My Messages</a>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>

  <section class="steps text-center">
    <div class="body-limit">
      <div class="row">
        <div class="col-md-12"><br>
          <h2>HAVE BOOKS TO SELL?</h2>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4 step-block">
          <h4 class="step-num">Step 1 - INFO</h4>
          <p class="step-desc">Easily gather your book's information by typing in the ISBN or title in the book search
            area. Powered by Google Books API.</p>
        </div>
        <div class="col-md-4 step-block">
          <h4 class="step-num">Step 2 - POST</h4>
          <p class="step-desc">Once you're satisfied with the information, post other details like the book's condition
            and your asking price.</p>
        </div>
        <div class="col-md-4 step-block">
          <h4 class="step-num">Step 3 - WAIT</h4>
          <p class="step-desc">Wait for buyers to contact you. It's that easy!</p>
        </div>
      </div>
      <a href="./sell" class="btn btn-primary my-2">Start Selling</a>
    </div>
  </section>
</main>


{{!-- sign up modal --}}
<div id="signUpModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content login-modal-content">

      <form class="form-signin needs-validation" novalidate>
        <div class="text-center mb-4">
          <img class="mb-4" src="./images/favicon2.png" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Book Buddies</h1>
          <p>Sign up information</a></p>
        </div>

        <div class="form-label-group">
          <label for="reg-inputEmail">Email address</label>
          <input type="email" id="reg-inputEmail" class="form-control" placeholder="Email address" autocomplete="email"
            required autofocus>
          {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          --}}
          <div class="invalid-feedback"> Please fill in this field. </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-label-group">
              <label for="reg-inputPassword">Password</label>
              <input type="password" id="reg-inputPassword" class="form-control" placeholder="Password" autocomplete="current-password"
                required>
              <div class="invalid-feedback"> Please fill in this field. </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-label-group">
              <label for="reg-inputPassword-verify">Verify Password</label>
              <input type="password" id="reg-inputPassword-verify" class="form-control" placeholder="Re-type Password"
                autocomplete="current-password" required>
              <div class="invalid-feedback"> Passwords must match. </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First name:</label>
              <input type="text" class="form-control" id="reg-firstName" autocomplete="name" required>
              <div class="invalid-feedback"> Please fill in this field. </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">Last name:</label>
              <input type="text" class="form-control" id="reg-lastName" autocomplete="name" required>
              <div class="invalid-feedback"> Please fill in this field</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="userName">Username:</label>
              <input type="text" class="form-control" id="reg-userName" autocomplete="name" required>
              <div class="invalid-feedback"> Please fill in this field </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="reg-userSchool">School:</label>
              <input id="reg-userSchool" type="text" name="school" class="form-control" placeholder="School (optional)"
                autocomplete="school">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="userPhone">Phone</label>
              <input id="reg-userPhone" type="tel" name="phone" class="form-control" placeholder="Phone number"
                autocomplete="phone" required>
              <div class="invalid-feedback"> Please fill in this field. </div>
              <div class="help-block with-errors"></div>

            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="userPostalCode">Postal Code</label>
              <input id="reg-userPostalCode" type="tel" name="postalCode" class="form-control" placeholder="Postal code"
                autocomplete="postalCode" required>
              <div class="invalid-feedback"> Please fill in this field. </div>
              <div class="help-block with-errors"></div>

            </div>
          </div>
        </div>


        <div class="form-label-group">
          <p id="signUpErrorMessage" class="text-danger"></p>
        </div>

        <button id="sign-up-button" class="btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
      </form>

    </div>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="./js/mainPage.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>