<div class="row category-filters-row">

{{!-- Dropdpown for book categories --}}

  <div class="col-md-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="categorySelectGroup">Category</label>
      </div>
      <select class="custom-select" id="categorySelectGroup">
        <option selected>All</option>
        <option value="Fiction">Fiction</option>
        <option value="Computers">Computers</option>
        <option value="Business">Business</option>
        <option value="Cooking">Cooking</option>
      </select>
      <button type="button" id="category-filter-button" class="btn btn-info">Filter</button>
    </div>

  </div>

{{!-- Search field for book title --}}

  <div class="col-md-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="titleSearch">Title</label>
        <input type="text" class="form-control" id="titleSearch">
        <button type="button" id="title-search-button" class="btn btn-info">Search</button>
      </div>
    </div>
  </div>

{{!-- Search field for ISBN --}}
    <div class="col-md-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="isbnSearch">ISBN</label>
        <input type="text" class="form-control" id="isbnSearch">
        <button type="button" id="isbn-search-button" class="btn btn-info">Search</button>
      </div>
    </div>
  </div>

  {{!-- Search field for book title --}}

  <div class="col-md-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="authorSearch">Author</label>
        <input type="text" class="form-control" id="authorSearch">
        <button type="button" id="author-search-button" class="btn btn-info">Search</button>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="author-container">
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Price</th>
            {{!-- <th>Comments</th> --}}
          </tr>
        </thead>
        <tbody>
          {{!-- <tr id="bookings-row">

          </tr> --}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete booking?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary yes-delete-button">Yes</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/myAds.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>