
<div class="form-group">
  <label for="color-name">Color Name</label>
  <input type="text" class="form-control" id="color-name">
</div><br>

<div class="form-group">
    <label for="color-family">Color Family</label>
    <select class="form-control" id="color-family">
        <option>Red</option>
        <option>Pink</option>
        <option>Orange</option>
        <option>Yellow</option>
        <option>Purple</option>
        <option>Green</option>
        <option>Purple</option>
        <option>Blue</option>
        <option>Brown</option>
        <option>White</option>
        <option>Gray</option>
    </select>
</div><br>

<div class="form-group">
  <label for="hex-input">Hex</label>
  <input type="text" class="form-control" id="hex-input">
</div><br>

<div class="form-group">
<label>RGB</label><br>
  <label for="r-input">R</label>
  <input type="text" class="form-control" id="r-input">
  <label for="g-input">G</label>
  <input type="text" class="form-control" id="g-input">
  <label for="b-input">B</label>
  <input type="text" class="form-control" id="b-input">
</div><br>

<button type="button" class="btn btn-success" id="submit-button">Submit</button>

<script src="./js/newColor.js"></script>