<section class="book-view">
  <div class="row">


    <div class="col-md-6 book-view-book-details">
      <h3 class="center-text">Book Details</h3>
      {{!-- <div id="book-here"></div> --}}
      <h5>Title: <span></span> </h5>
      <h5>ISBN: <span></span> </h5>
      <h5>Author: <span></span> </h5>
      <h5>Price: <span></span> </h5>
      <h5>Category: <span></span> </h5>
      <h5>Comments: <span></span> </h5>
    </div>

    <div class="col-md-6 book-view-book-details">
      <h3 class="center-text">About the Poster</h3>
      <div id="user-here"></div>

    </div>

  </div>
</section>





<!-- Modal -->
<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete booking?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary yes-delete-button">Yes</button>
      </div>
    </div>
  </div>
</div>


<script src="js/bookView.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>