<section class="book-view">
  <div class="row">

    <div class="col-md-6 book-view-book-details">
      <h4 class="center-text">Book Details</h4><br>
      <img class="book-view-image book-image">
      <p>Title: <span class="book-title"></span> </p>
      <p>ISBN: <span class="book-isbn"></span> </p>
      <p>Author: <span class="book-author"></span> </p>
      <p>Price: <span class="book-price"></span> </p>
      <p>Category: <span class="book-category"></span> </p>
      <p>Comments: <p class="book-comments"></p>
        <p id="bookViewBlurMessage" class="text-danger"></p>
    </div>

    <div class="col-md-6 book-view-user-details">
      <h4 class="center-text">About the Poster</h4><br>
      <img class="book-view-image user-image" src="./images/placeholder-headshot.jpg">
      <p>Username: <span class="user-username"></span> </p>
      <p>School: <span class="user-school"></span> </p>
      <p>Email: <span class="user-email"></span> </p>
      <p>Contact #: <span class="user-number"></span> </p>
      <p>Location: <span class="user-location"></span> </p>
      <img class="book-view-map" src="./images/map.PNG">

      <br><button type="button" class="btn btn-primary" id="contact-poster-button">Contact Poster</button>

    </div>

  </div>
</section>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="message-sent-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Buddies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>User has been contacted!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Contact Form Modal -->
<div class="modal fade" id="contact-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-form-header">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="send-message-button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="./js/bookView.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>