body {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.card {
    display: inline-block;
}

.jumbotron {
    background-color: rgb(70,130,180,0.5);
}

body {
    background-color: rgb(70,130,180,0.5);
    background-image: url("/images/books1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    background-color: white;
    border: 1px solid gray;
}

.user-form-container {
    max-width: 960px;
    margin: auto;
}

.book-view {
    min-width: 600px;
    max-width: 960px;
    background-color: white;
    margin: 60px auto;
    padding: 60px;
}

.book-search-container {
    background-color: white;
    margin: 60px auto;
    padding: 30px 0px;
    max-width: 960px;
    text-align: center;
}

.book-view-book-details {
    text-align: left;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

.center-text {
    text-align: center;
}

.radio-row {
    margin: 20px;
    text-align: center;
}
.category-filters-row {
    margin: auto;
    background-color: lightslategray;
    padding-top: 10px;
    text-align: center;
}